body{
     background-color: hotpink;
    margin: 0;
    padding-top: 800px;
    text-align: center;
    line-height: 1.5;
}
.profile{
    border-radius: 50%;
    margin-bottom: 50px;
    width: 250px;
}
#welcome {
    background: linear-gradient(#f0ccef 0%,#c217bd 100%) ;
    width: 100%;
        height:100%;
    position: absolute;
    display: table;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
            
}
#bio {
    text-align: center;
        font-size:40px;
    padding:50px;

}
.menu{
    
    font-family: sans-serif;
    position: fixed;
    top: 0;
    margin-top: 0px;
    background:  pink ;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    
}
.links{
    display: inline;
    color:deeppink;
    padding-left: 33px;
    padding-right: 25px;
   
    font-family: monoscope;
    font-size: 20px;
    
}
.links:hover{
    background-color: aqua;
    font-size: 25px;
    text-decoration: underline;
}
#name {
    font-family: 'Bonbon', cursive;
    font-size:30px;
    line-height: 1.2;
}

.article:hover {
    color: deeppink;
    
}
#contact {
    background: firebrick;
} 
#contact iframe { 
    width: 100%;
} 
.contact_1 h3 { 
    display: inline; 

    
    
}
    






